/*
Copyright © 2024 Patrick Laabs patrick.laabs@me.com
*/

package views

templ Footer() {
    <footer>
        <div class="container">
            <p>&copy; 2024 Patrick Laabs. All rights reserved.</p>
            <p><a href="/impressum">Impressum</a> | <a href="/datenschutz">Datenschutz</a></p>
        </div>
    </footer>
}