/*
Copyright © 2024 Patrick Laabs patrick.laabs@me.com
*/

package views

templ Header() {
    <header>
        <nav class="main-nav">
            <div class="container">
                <div class="nav-content">
                    <ul class="nav-links">
                        <li><a href="/">Home</a></li>
                        <li><a href="/login">Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
}